<div class="container mt-4">
    <h1>Dettagli del prodotto</h1>
  
    <div *ngIf="product">
      <div class="card">
        <img *ngIf="product.product.image_url" [src]="product.product.image_url" class="card-img-top" alt="{{product.product.product_name}}">
        <div class="card-body">
          <h5 class="card-title">{{ product.product.product_name }}</h5>
          <p><strong>Marca:</strong> {{ product.product.brands }}</p>
          <p><strong>Categoria:</strong> {{ product.product.categories }}</p>
          <p><strong>Descrizione:</strong> {{ product.product.ingredients_text || 'N/A' }}</p>
          <pre>{{ product | json }}</pre>
          <a routerLink="/" class="btn btn-secondary">Indietro</a>
        </div>
      </div>
    </div>
  </div>